<h1>Add New User</h1>
<form name="userForm" novalidate>
    <div class="form-group" show-errors>
        <label class="control-label">Name</label>
        <input type="text" class="form-control" name="name" ng-model="user.name" required placeholder="Name" />
    </div>
    <div class="form-group" show-errors>
        <label class="control-label">Email</label>
        <input type="email" class="form-control" name="email" ng-model="user.email" required placeholder="Email" />
    </div>

    <button class="btn btn-primary" ng-click="save()">Add User</button>
    <button class="btn btn-link" ng-click="reset()">Reset</button>
</form>