
<div class="form-label">Add New User</div>
<div class="col-xs-3">
    <form name="userForm " class="pure-form" novalidate>
        <div show-errors>
            <label class="form-label" >Name</label>
            <input type="text" name="name" ng-model="user.name" required placeholder="Name" />
        </div>
        <div show-errors>
            <label class="form-label"  >Email</label>
            <input type="email" name="email" ng-model="user.email" required placeholder="Email" />
        </div>
        <div show-errors>
            <label class="form-label"  >VenueId</label>
            <input type="text" name="venueId" ng-model="user.venueId" required placeholder="VenueId" />
        </div>

        <button class="btn btn-primary" ng-click="save()">Add User</button>
        <button class="btn btn-link" ng-click="reset()">Reset</button>
    </form>
</div>
