<div class="container">
    <h1>{{title}}</h1>
    <div class="row">
        <div class='col-sm-3'>
            <div class="form-group">
                <div class='input-group date' id='visitspicker'>
                    <input type='text' title="Select date" id="inputQueryDate" ng-model="selected.date" class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <button class="btn btn-primary" ng-click="changeVisitDate(selected.date)">Run report</button>
            </div>
        </div>
    </div>
    <canvas id="pie" class="chart chart-pie"
            chart-data="data" chart-labels="labels" chart-options="options"
            height="688" width="1376"
            style="display: block; width: 688px; height: 344px;">
    </canvas>
</div>
