<div class="container">
    <div class="headingText">{{headTitle}}</div>
    <div class="row">
        <div class='col-sm-3'>
            <div class="form-group">
                <div class="form-group">
                    <div>
                        <button class="btn" ng-model="date" my-date-picker><i class="fa fa-calendar"></i></button>
                        <label class='dateText'>{{formattedDate}}</label>
                    </div>
                    <button class="btn btn-primary" ng-click="changeVisitDate(selected.date)">Run report</button>
                </div>
            </div>
        </div>
    </div>
    <canvas id="line" class="chart chart-line graphWidth" chart-data="data" chart-labels="labels"
            chart-click="onClick" chart-hover="onHover" chart-series="series" chart-options="options"
            chart-dataset-override="datasetOverride"></canvas>
</div>
