<dashboard-directive></dashboard-directive>
<div class="container">
    <div class="row">
        <div class='col-sm-3'>
            <div class="form-group">
                <div class="form-group">
                    <div>
                        <button class="btn" ng-model="date" my-date-picker><i class="fa fa-calendar"></i></button> <label class='dateText'>{{formattedDate}}</label>
                    </div>
                </div>
                <div>
                    <select class='dropDownText' ng-model="selected.range" ng-options="x for x in names"/>
                </div>
                <div>
                    <button class="btn btn-primary" ng-click="changeDate(selected)">Run report</button>
                </div>
            </div>
        </div>
    </div>

    <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"
            height="688" width="1376" style="display: block; width: 688px; height: 344px;"/>
</div>
