<div class="container">
    <div class="headingText">{{title}}</div>
    <div class="row">
        <div class='col-sm-3'>
            <div class="form-group">
                <div class='input-group date' id='serviceDayPicker'>
                    <input type='text' id="selectedDate" ng-model="selected.date" class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div>
                    <select class='dropDownText' ng-model="selected.range" ng-options="x for x in names"/>
                </div>
                <div>
                    <button class="btn btn-primary" ng-click="changeDate(selected.date)">Run report</button>
                </div>
            </div>
        </div>
    </div>

    <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"
            height="688" width="1376" style="display: block; width: 688px; height: 344px;"/>
</div>
